@using RPPP_WebApp.Model
@model RPPP_WebApp.ViewModels.ProjectDocumentsViewModel

@{
    ViewData["Title"] = "Details";
}

@if (TempData["StatusMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["StatusMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Card)
        </dt>
        <dd class="col-sm-10">
            @Model.Project.Card.Iban (@Model.Project.Card.Balance €)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Client)
        </dt>
        <dd class="col-sm-10">
            @Model.Project.Client.FirstName @Model.Project.Client.LastName @Model.Project.Client.Email (@Model.Project.Client.Oib)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Owner)
        </dt>
        <dd class="col-sm-10">
            @Model.Project.Owner.Name @Model.Project.Owner.Surname (@Model.Project.Owner.Oib)
        </dd>
    </dl>
</div>
@if (Model.Document != null && Model.Document.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Format</th>
                <th>Document Type</th>
            </tr>
        </thead>
        <tbody>
            <partial name="NewDocument" model="@new Document { ProjectId = Model.Project.Id }" />
            @foreach (var document in Model.Document)
            {
                <partial name="GetDocument" model="@document" />
            }
        </tbody>
    </table>

}
else
{
    <p>No tasks associated with this requirement.</p>
}
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Project.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>


@section Scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $(".alert").fadeOut('slow');
            }, 2500);
        });
    </script>
}
