@using RPPP_WebApp

@model RPPP_WebApp.ViewModels.ProjectCardsViewModel
@{
  ViewData["Title"] = "Projektne kartice";
}

@if (TempData.ContainsKey(Constants.Message)) {
  <div id="successMessage" class="alert alert-success">
    @TempData[Constants.Message]
  </div>
}

<h1 class="mt-3">Projektne kartice</h1>

<a asp-action="Create">Unos nove projektne kartice</a>

<partial name="Filter" model="Model.Filter" />

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
          IBAN
        </a>
      </th>
      <th>
        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
          Saldo
        </a>
      </th>
      <th>
        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
          Datum aktivacije
        </a>
      </th>
      <th>
        <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
          Vlasnik
        </a>
      </th>
      <th>
        <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
          Transakcije
        </a>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var projectCard in Model.ProjectCard) {
      <tr>
        <td class="text-left">
          <a asp-action="Show"
            asp-route-id="@projectCard.Iban"
            asp-route-page="@Model.PagingInfo.CurrentPage"
            asp-route-sort="@Model.PagingInfo.Sort"
            asp-route-ascending="@Model.PagingInfo.Ascending"
            asp-route-filter="@Model.Filter">
            @projectCard.Iban
          </a>
        </td>
        <td class="text-left">@projectCard.Balance.ToString("C2")</td>
        <td class="text-left">@projectCard.ActivationDate.ToString("dd.MM.yyyy.")</td>
        <td class="text-left">@projectCard.Owner</td>
        <td class="text-left">
          <a asp-action="Show"
             asp-route-id="@projectCard.Iban"
             asp-route-page="@Model.PagingInfo.CurrentPage"
             asp-route-sort="@Model.PagingInfo.Sort"
             asp-route-ascending="@Model.PagingInfo.Ascending"
             asp-route-filter="@Model.Filter">
            @projectCard.Recipient
          </a>
          </td>
        <td class="btn-toolbar gap-2 justify-content-end">
          <a asp-action="Edit"
             asp-route-id="@projectCard.Iban"
             asp-route-page="@Model.PagingInfo.CurrentPage"
             asp-route-sort="@Model.PagingInfo.Sort"
             asp-route-ascending="@Model.PagingInfo.Ascending"
             asp-route-filter="@Model.Filter"
             class="btn btn-sm btn-success" title="Ažuriraj"><i class="fas fa-edit"></i></a>

          <form asp-action="Delete" method="post"
            asp-route-page="@Model.PagingInfo.CurrentPage"
            asp-route-sort="@Model.PagingInfo.Sort"
            asp-route-ascending="@Model.PagingInfo.Ascending"
            asp-route-filter="@Model.Filter">
            <input type="hidden" name="Iban" value="@projectCard.Iban" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

@section scripts{
  <script src="~/js/pager.js" asp-append-version="true"></script>

  <script>
    setTimeout(function () {
      var successMessage = document.getElementById('successMessage');
      if (successMessage !== null) {
        successMessage.remove();
      }
    }, 5000);
  </script>
}