@using RPPP_WebApp

@model RPPP_WebApp.ViewModels.TransactionsViewModel
@{
  ViewData["Title"] = "Transakcije";
}

@if (TempData.ContainsKey(Constants.Message)) {
  <div id="successMessage" class="alert alert-success">
    @TempData[Constants.Message]
  </div>
}

<h1 class="mt-3">Transakcije</h1>

<a asp-action="Create">Unos nove transakcije</a>

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
          Pošiljatelj
        </a>
      </th>
      <th>
        <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
          Primatelj
        </a>
      </th>
      <th>
        <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
          Iznos
        </a>
      </th>
      <th>
        <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
          Datum i vrijeme
        </a>
      </th>
      <th>
        <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
          Vrsta transakcije
        </a>
      </th>
      <th>
        <a asp-route-sort="6" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 6 ? !Model.PagingInfo.Ascending : true)">
          Svrha transakcije
        </a>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var transaction in Model.Transaction) {
      <tr>
        <td class="text-left">@transaction.Iban</td>
        <td class="text-left">@transaction.Recipient</td>
        <td class="text-left">@transaction.Amount.ToString("C2")</td>
        <td class="text-left">@transaction.Date.ToString("dd.MM.yyyy. HH:mm:ss")</td>
        <td class="text-left">@transaction.Type</td>
        <td class="text-left">@transaction.Purpose</td>
        <td class="btn-toolbar gap-2 justify-content-end">
          <a asp-action="Edit"
             asp-route-id="@transaction.Id"
             asp-route-page="@Model.PagingInfo.CurrentPage"
             asp-route-sort="@Model.PagingInfo.Sort"
             asp-route-ascending="@Model.PagingInfo.Ascending"
             class="btn btn-sm btn-success" title="Ažuriraj"><i class="fas fa-edit"></i></a>

          <form asp-action="Delete" method="post"
                asp-route-page="@Model.PagingInfo.CurrentPage"
                asp-route-sort="@Model.PagingInfo.Sort"
                asp-route-ascending="@Model.PagingInfo.Ascending">
            <input type="hidden" name="Id" value="@transaction.Id" />
            <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši"><i class="fas fa-trash-alt"></i></button>
          </form>
        </td>
      </tr>
    }
  </tbody>
</table>

@section scripts{
  <script src="~/js/pager.js" asp-append-version="true"></script>

  <script>
    setTimeout(function () {
      var successMessage = document.getElementById('successMessage');
      if (successMessage !== null) {
        successMessage.remove();
      }
    }, 5000);
  </script>
}