@model RPPP_WebApp.ViewModels.RequirementPrioritiesViewModel
@{
    ViewData["Title"] = "RequirementPriorities";
}

<h1>RequirementPriorities</h1>

<p>
    <a asp-action="Create"
       asp-route-page="@Model.PagingInfo.CurrentPage"
       asp-route-sort="@Model.PagingInfo.Sort"
       asp-route-ascending="@Model.PagingInfo.Ascending">Create New</a>
</p>
<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Type
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RequirementPriorities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"
                       asp-route-id="@item.Id"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"
                       asp-route-id="@item.Id"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"
                       asp-route-id="@item.Id"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
