@using RPPP_WebApp

@model RPPP_WebApp.ViewModels.ProjectPartnersViewModel

@{
    ViewData["Title"] = "Suradnici na projektu";
}

<h1 class="mt-3">Suradnici</h1>

<a asp-action="Create">Unos novog suradnika</a>

<partial name="Filter" model="Model.Filter" />

<pager page-info="@Model.PagingInfo" page-action="Index" page-title="Unesite željenu stranicu" class="float-end"></pager>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-route-sort="1" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 1 ? !Model.PagingInfo.Ascending : true)">
                    Projekt
                </a>
            </th>
            <th>
                <a asp-route-sort="2" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 2 ? !Model.PagingInfo.Ascending : true)">
                    Radnik
                </a>
            </th>
            <th>
                <a asp-route-sort="3" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 3 ? !Model.PagingInfo.Ascending : true)">
                    Uloga
                </a>
            </th>
             <th>
                <a asp-route-sort="4" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 4 ? !Model.PagingInfo.Ascending : true)">
                    Od
                </a>
            </th>
            <th>
                <a asp-route-sort="5" asp-route-page="@Model.PagingInfo.CurrentPage" asp-route-ascending="@(Model.PagingInfo.Sort == 5 ? !Model.PagingInfo.Ascending : true)">
                    Do
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var partner in Model.Partners)
        {
            <tr>
                <td class="text-left">@partner.Project</td>
                <td class="text-left">@partner.Worker</td>
                <td class="text-left">@partner.Role</td>
                <td class="text-left">@partner.DateFrom</td>
                <td class="text-left">@partner.DateTo</td>
                <td class="btn-toolbar gap-2 justify-content-end">
                    <a asp-action="Edit"
                       asp-route-id="@partner.Id"
                       asp-route-page="@Model.PagingInfo.CurrentPage"
                       asp-route-sort="@Model.PagingInfo.Sort"
                       asp-route-ascending="@Model.PagingInfo.Ascending"
                       class="btn btn-sm btn-success" title="Ažuriraj">Edit</a>
                    <form asp-action="Delete" method="post"
                          asp-route-page="@Model.PagingInfo.CurrentPage"
                          asp-route-sort="@Model.PagingInfo.Sort"
                          asp-route-ascending="@Model.PagingInfo.Ascending">
                        <input type="hidden" name="Id" value="@partner.Id" />
                        <button type="submit" class="btn btn-sm btn-danger delete" title="Obriši">Delete</button>
                    </form>
                </td>

            </tr>
        }

    </tbody>
</table>

@section scripts {
    <script src="~/js/pager.js" asp-append-version="true"></script>
    <script src="~/lib/htmx/htmx.min.js" asp-append-version="true"></script>
    <partial name="IncludeValidation" />

    <script>
        document.body.addEventListener("showMessage", function (evt) {
            toastr[evt.detail.messageType](evt.detail.message);
        })
        document.body.addEventListener("htmx:responseError", function (evt) {
            toastr["error"](evt.detail.error);
        })
    </script>
}