@model RPPP_WebApp.Model.RequirementTask

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>RequirementTask</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlannedEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlannedEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectWork)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectWork.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectRequirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectRequirement.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaskStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaskStatus.Type)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
