@model RPPP_WebApp.ViewModels.RequirementTasksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<partial name="Filter" model="Model.Filter" />
<table class="table">
    <thead>
        <tr>
            <th>
                Planned Start Date
            </th>
            <th>
                Planned End Date
            </th>
            <th>
                Actual Start Date
            </th>
            <th>
                Actual End Date
            </th>
            <th>
                Project Work Title
            </th>
            <th>
                Project Requirement Description
            </th>
            <th>
                Task Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RequirementTasks)
        {
            <tr>
                <td>
                    @(item.PlannedStartDate.ToString("dd.MM.yyyy.") ?? "Unknown")
                </td>
                <td>
                    @(item.PlannedEndDate.ToString("dd.MM.yyyy.") ?? "Unknown")
                </td>
                <td>
                    @(item.ActualStartDate?.ToString("dd.MM.yyyy.") ?? "Not started")
                </td>
                <td>
                    @(item.ActualEndDate?.ToString("dd.MM.yyyy.") ?? "Not ended")
                </td>
                <td>
                    @(item.ProjectWork ?? "Unknown")
                </td>
                <td>
                    @(item.RequirementDescription ?? "Unknown")
                </td>
                <td>
                    @(item.TaskStatus ?? "Unknown")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
               
            </tr>
        }
    </tbody>
</table>
