@model IEnumerable<RPPP_WebApp.Model.RequirementTask>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlannedStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlannedEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectWork)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectRequirement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlannedEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectWork.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectRequirement.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskStatus.Type)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
